.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  width: 70vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  transition: 0.8s;
}
.sidebar.active {
  left: -100%;
  transition: 0.8s;
}
.sidebar img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
.alarm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.nav-menu {
  background-color: white;
  width: 300px;
  height: 100%;
}
.nav-menu-items{
  /* padding-left: 10vw; */
}
.under-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.user {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}
.user > img {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  width: 100vw;
  height: 10vh;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #6200EE;
}

.block {
  width: 100vw;
  height: 10vh;
  position: relative;
  top: 0;
  z-index: -5;
}

.navbar > img {
  margin: 0 15px;
  width: 30px;
  height: 30px;
}
.navbar .logo {
  width: 160px;
  height: 40px;
}
.nav-text {
  list-style: none;
  font-size: 1.2rem;
  padding: 1rem ;
  cursor: pointer;
  border-radius: 8px;
  color: black;
  font-weight: bold;
}
.nav-text:hover{
  
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: gray;
}

.nav-link {
  text-decoration: none;
}
.underbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 9vh;
  background-color: #6200EE;
  bottom: 0;
  position: fixed;
  font-size: 30px;
}

.underbar img {
  width: 40px;
  height: 40px;
}
.underbar span {
  margin-left: 10px;
  color: white;
}
.underbar-menu-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.underbar :hover{
  font-size: 40px;
  transition: 0.4s;
}